/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global transition for all elements */
* {
    transition: all 0.3s ease; /* Adjust the duration and easing as needed */
}

/* Optional: Add a hover effect for buttons */
button, a {
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Optional: Add a fade-in effect for elements */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.images-container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 50px;
    background-color: rgba(0,0,0,0.5);

}

html {
    scroll-behavior: smooth;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
    background-color: #1a202c; /* Dark background */
    color: #c5c5c5; /* Light text */
}