<div class="container mx-auto p-6 .fade-in">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Add Blog Post</h1>

  <!-- Success Message -->
  <div
    *ngIf="successMessage"
    class="mb-4 p-4 bg-green-100 border border-green-400 text-green-700 rounded"
  >
    {{ successMessage }}
  </div>

  <!-- Error Message -->
  <div
    *ngIf="errorMessage"
    class="mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded"
  >
    {{ errorMessage }}
  </div>

  <!-- Form -->
  <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="mt-3">
    <div class="mb-4">
      <label for="title" class="block text-gray-700 text-sm font-bold mb-2"
        >Title</label
      >
      <input
        type="text"
        id="title"
        name="title"
        class="block w-full px-3 py-2 rounded-md text-sm font-medium ring-black ring-1 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        placeholder="Title"
        [(ngModel)]="model.title"
        required
      />
    </div>

    <div class="mb-4">
      <label for="url_handle" class="block text-gray-700 text-sm font-bold mb-2"
        >Blog Url Handle</label
      >
      <input
        id="url_handle"
        name="url_handle"
        class="block w-full px-3 py-2 rounded-md text-sm font-medium ring-black ring-1 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        placeholder="Url Handle"
        [(ngModel)]="model.url_handle"
        required
      />
    </div>
    <div class="mb-4">
      <label for="categories" class="block text-gray-700 text-sm font-bold mb-2"
        >Categories</label
      >
      <ng-container *ngIf="categories">
        <select
          id="categories"
          name="categories"
          class="block w-full px-3 py-2 rounded-md text-sm font-medium ring-black ring-1 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          [(ngModel)]="model.categories"
          required
          multiple
        >
          <option value="">Select Category</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </ng-container>
    </div>

    <div class="mb-4">
      <label for="url_handle" class="block text-gray-700 text-sm font-bold mb-2"
        >Short Description</label
      >
      <textarea
        id="description"
        name="description"
        class="block w-full px-3 py-2 rounded-md text-sm font-medium ring-black ring-1 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        placeholder="Description"
        [(ngModel)]="model.short_description"
        required
      ></textarea>
    </div>
    <div class="mb-4">
      <label for="url_handle" class="block text-gray-700 text-sm font-bold mb-2"
        >Content</label
      >
      <div class="flex flex-row">
        <div class="w-1/2 p-3">
          <textarea
            id="content"
            name="content"
            class="block w-full h-[350px] px-3 py-2 rounded-md text-sm font-medium ring-black ring-1 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
            placeholder="content"
            [(ngModel)]="model.content"
            required
          ></textarea>
        </div>
        <div class="w-1/2 p-3 h-[350px] overflow-y-auto">
          <div class="markdown-body">
            <markdown [data]="model.content"></markdown>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label for="url_handle" class="block text-gray-700 text-sm font-bold mb-2"
        >Featured Image Url</label
      >
      <button
        (click)="onImageSelectorOpen($event)"
        class="px-4 py-2 bg-gray-300 text-white rounded-md text-sm font-medium hover:bg-gray-500 focus:outline-none focus:bg-gray-500 flex items-center"
      >
        Select Image
      </button>
      <ng-container *ngIf="model.featured_image_url != ''">
        <div class="p-3">
          <img [src]="model.featured_image_url" class="h-1/4 w-1/4" />
        </div>
      </ng-container>
    </div>
    <div class="mb-4">
      <label
        for="published_date"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Published Date</label
      >
      <input
        type="date"
        id="published_date"
        name="published_date"
        class="block w-full px-3 py-2 rounded-md text-sm font-medium ring-black ring-1 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        required
        [(ngModel)]="model.publish_date"
      />
    </div>
    <div class="mb-4">
      <label for="url_handle" class="block text-gray-700 text-sm font-bold mb-2"
        >Author</label
      >
      <input
        id="author"
        name="author"
        class="block w-full px-3 py-2 rounded-md text-sm font-medium ring-black ring-1 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        placeholder="Author"
        [(ngModel)]="model.author"
        required
      />
    </div>

    <div class="mb-4">
      <label class="inline-flex items-center">
        <input
          name="is_visible"
          id="is_visible"
          type="checkbox"
          class="form-checkbox h-5 w-5 text-blue-600"
          [(ngModel)]="model.is_visible"
        />
        <span class="ml-2 text-gray-700">Is Visible?</span>
      </label>
    </div>

    <div class="flex justify-between">
      <button
        type="button"
        class="px-4 py-2 bg-gray-500 text-white rounded-md text-sm font-medium hover:bg-gray-700 focus:outline-none focus:bg-blue-500"
        (click)="goBack()"
      >
        Go Back
      </button>
      <div>
        <button
          type="submit"
          class="px-4 py-2 m-2 bg-blue-500 text-white rounded-md text-sm font-medium hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
        >
          {{ isEditMode ? "Update Blog Post" : "Add Blog Post" }}
        </button>
        <button
          type="button"
          *ngIf="isEditMode"
          class="px-4 py-2 bg-red-500 text-white rounded-md text-sm font-medium hover:bg-red-700 focus:outline-none focus:bg-red-500 disabled:bg-red-300 disabled:cursor-not-allowed flex items-center"
          (click)="deleteBlogPost()"
          [disabled]="isDeleting"
        >
          {{ isDeleting ? "Deleting..." : "Delete Blog Post" }}
        </button>
      </div>
    </div>
  </form>
</div>

<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  *ngIf="isImageSelectorVisible"
>
  <div class="relative bg-white rounded-lg w-5/6 h-5/6 overflow-hidden">
    <button
      class="absolute top-4 right-4 p-2 rounded-full bg-gray-200 hover:bg-gray-300 transition-colors duration-200"
      (click)="isImageSelectorVisible = false"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-gray-600"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <div class="p-6 h-full">
      <app-image-selector></app-image-selector>
    </div>
  </div>
</div>
